<link type="text/css" rel="stylesheet" href="/assets/public/lightgallery/css/lightgallery.css" />
<script src="/assets/public/lightgallery/js/lightgallery.min.js"></script>
<script src="/assets/public/lightgallery/js/lg-zoom.min.js"></script>
<script src="/assets/public/lightgallery/js/lg-thumbnail.min.js"></script>
<script src="/assets/public/jquery-3.7.1.min.js"></script>
<script src="/assets/public/masonry.pkgd.min.js"></script>
<script src="/assets/public/imagesloaded.pkgd.min.js"></script>

<div id="lg">
    {% for image in site.static_files %}
        
        {% if image.path contains 'gallery' and image.path contains include.albumname %}
            {% unless image.path contains 'thumbnails' %}
                <a href="{{ image.path }}" class="image-item"><img style="margin-bottom: 5px;" src="/thumbnails{{ image.path }}" /></a>
            {% endunless %}
        {% endif %}
    {% endfor %}
</div>

<script type="text/javascript">

        lightGallery(document.getElementById('lg'), {
            plugins: [ lgThumbnail],
            // speed: 500,
            thumbnail: true,
            animateThumb: true,
            download: false
        });


        
        var elem = document.getElementById('lg');
        var msnry = new Masonry( elem, {
            itemSelector: '.image-item',
            columnWidth: 200
        });

        imagesLoaded(elem, () => msnry.layout());
        
</script>


