<link type="text/css" rel="stylesheet" href="/assets/public/lightgallery/css/lightgallery.css" />
<link type="text/css" rel="stylesheet" href="/assets/css/thumbnails.css" />
<script src="/assets/public/lightgallery/js/lightgallery.min.js"></script>
<script src="/assets/public/lightgallery/js/lg-zoom.min.js"></script>
<script src="/assets/public/lightgallery/js/lg-thumbnail.min.js"></script>
<script src="/assets/public/lightgallery/js/lg-fullscreen.min.js"></script>
<!-- <script src="/assets/public/jquery-3.7.1.min.js"></script> -->
<!-- <script src="/assets/public/masonry.pkgd.min.js"></script> -->
<!-- <script src="/assets/public/imagesloaded.pkgd.min.js"></script> -->

<div style="font-weight: bolder;"><a href="/gallery">Back to main gallery</a></div>
<hr>

<div style="font-style: italic; font-weight: bolder; color: #D08;">Expand gallery to fullscreen to see the best view</div>
<div id="inline-gallery-container"  style="width: 100%;    height: 0;    padding-bottom: 70%;"></div>

<script type="text/javascript">

const lgContainer = document.getElementById('inline-gallery-container');
const inlineGallery = lightGallery(lgContainer, {
    container: lgContainer,
    plugins: [lgMediumZoom]
    animateThumb: false,
    allowMediaOverlap: true,
    dynamic: true,
    hash: false,
    download: false,
    thumbnail: true,
    closable: false,
    showMaximizeIcon: true,
    // Append caption inside the slide item
    // to apply some animation for the captions (Optional)
    // appendSubHtmlTo: '.lg-item',
    // Delay slide transition to complete captions animations
    // before navigating to different slides (Optional)
    // You can find caption animation demo on the captions demo page
    slideDelay: 400,
    dynamicEl: [
    
    {% for image in site.static_files %}
        
        {% if image.path contains 'gallery' and image.path contains include.albumname %}
            {% unless image.path contains 'thumbnails' %}
            {
                src: "{{image.path}}",
                thumb: "/thumbnails{{image.path}}"
            },
            {% endunless %}
        {% endif %}
    {% endfor %}
        ],
});

inlineGallery.openGallery();
        
</script>


