
<link rel="stylesheet" href="/assets/public/lightgallery/css/lightgallery.css" />
<link rel="stylesheet" href="/assets/public/lightgallery/css/lg-exif.min.css" />
<link rel="stylesheet" href="/assets/public/core.css" />
<link rel="stylesheet" href="/assets/public/theme.css" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
<!-- jQuery -->
<script src="/assets/public/jquery.min.js"></script>
<!-- LightGallery -->
<script src="/assets/public/lightgallery/js/lightgallery.js"></script>
<script src="/assets/public/lightgallery/js/lg-autoplay.js"></script>
<script src="/assets/public/lightgallery/js/lg-pager.js"></script>
<script src="/assets/public/lightgallery/js/lg-thumbnail.js"></script>
<script src="/assets/public/lightgallery/js/lg-exif.min.js"></script>
<script>
  $(document).ready(function() {
    $("#media").lightGallery({
      thumbWidth: 80,
      controls: true,
      loop : false,
      download: false,
      counter: true,
      videojs: false
    });
  });
</script>





<div class ="image-gallery">
  <ul id="media">
    {% assign images = site.static_files | where: "gallery", true %}
    <!-- {% assign photos = site.data.photos %} -->

    {% for img in images %}
      <!-- {% assign title = photos[img.basename].title %} -->
      <!-- {% assign description = photos[img.basename].description %} -->
      <!-- <li><a href="{{ img.path }}" title="{{ title }}" class="img">{{ title }} ({{ description }})</a></li> -->
      <li><a href="{{ img.path }}" title="{{ title }}" class="img"><img src="{{img.path}}" width="200" height="200"/></a></li>
    {% endfor %}

  </ul>
</div>
 

