<script type="module" src="/assets/public/cookieconsent-config.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J1J8NQZY8L"></script>
<script
    type="text/plain"
    data-category="analytics"
    data-service="Google Analytics"
>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-J1J8NQZY8L');
</script>

<!-- <script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#7393B3"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "type": "opt-in",
  "content": {
    "message": "This website uses cookies to ensure you get the best experience here.",
    "href": "/terms"
  }
});
</script> -->